<ion-header>
  <ion-toolbar>
    <ion-title>Page 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-card-title>My hobbies:</ion-card-title>
    <ion-item>
      <ion-icon slot="start" color="medium" name="accessibility-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        Karate
      </ion-label>
    </ion-item>
  <ion-item>
    <ion-icon slot="start" color="medium" name="tennisball-outline"></ion-icon>
    <ion-label class="ion-text-wrap">Volleyball</ion-label>
  </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-card-title>My interests:</ion-card-title>
    <ion-item>
      <ion-icon slot="start" color="medium" name="musical-notes-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        Listening the music.
        Favorite band: Bring Me the Horizon.
      </ion-label>
    </ion-item>
  <ion-item>
    <ion-icon slot="start" color="medium" name="game-controller-outline"></ion-icon>
    <ion-label class="ion-text-wrap">Playing videogames</ion-label>
  </ion-item>
  </ion-list>
</ion-content>
