<ion-card>
	<ion-card-header>
		<ion-card-title>{{title}}</ion-card-title>
	</ion-card-header>

	<ion-card-content>
		<ion-item>
			<ion-label position="floating">Name</ion-label>
			<ion-input type="text" [(ngModel)]="rockGroup.number" name="number"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Genre</ion-label>
			<ion-input type="text" [(ngModel)]="rockGroup.faculty" name="faculty"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Type</ion-label>
			<ion-input type="text" [(ngModel)]="rockGroup.specialty" name="specialty"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Musicians</ion-label>
			<ion-input type="number" [(ngModel)]="rockGroup.studentsQuantity" name="studentsQuantity"></ion-input>
		</ion-item>
		<ion-button *ngIf="isNew" color="primary" (click)="addNew()">
			<ion-icon slot="start" name="add-circle"></ion-icon> Add
		</ion-button>
		<ion-button *ngIf="isNew" color="danger" class="ion-float-right" (click)="cancelAdding()">
			<ion-icon slot="start" name="close"></ion-icon> Cancel
		</ion-button>
		<ion-button *ngIf="!isNew" color="primary" (click)="saveGroup()">
			<ion-icon slot="start" name="save"></ion-icon>Save
		</ion-button>
	</ion-card-content>
</ion-card>
