<ion-header>
  <ion-toolbar>
    <ion-title>
      Page 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Information about me</ion-card-subtitle>
      <ion-card-title>Lab 1</ion-card-title>
      <ion-card-content>My name: Maxim</ion-card-content>
      <ion-card-content>My lastname: Salyutin</ion-card-content>
      <ion-card-content>Number group: 301</ion-card-content>
      <ion-card-content>Speciality: Computer Science</ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <p>Testing header Ionic</p>
    </ion-card-header>
  </ion-card>
</ion-content>