<div class="row">
	<div class="col m6 offset-m3 s12">
		<a *ngIf="!showForm" (click)="showForm=true"
		class="btn-floating btn-large waves-effect waves-light green">
			<i class="material-icons">add</i>
		</a>
		<form *ngIf="showForm" #myForm="ngForm" novalidate 
		(ngSubmit)="onSubmit(myForm)">
			<h5>New rock group</h5>
			<div class="input-field">
				<input id="number" name="number" ngModel 
				required type="text">
				<label for="number">Name group</label>
			</div>
			<div class="input-field">
				<input id="faculty" name="faculty" ngModel
				required type="text">
				<label for="faculty">Genre</label>
			</div>
			<div class="input-field">
				<input id="specialty" name="specialty" ngModel 
				required type="text">
				<label for="specialty">Type</label>
			</div>
			<div class="input-field">
				<input id="quantity" name="studentsQuantity" ngModel
				required type="number">
				<label for="quantity">Number of musicians in the group</label>
			</div>

			<div class="form-group">
				<button type="button" (click)="showForm=false"
				class="rem-row btn-floating waves-effect 
				waves-light left blue-grey">
				<i class="material-icons">keyboard_arrow_up</i>	
				</button>
				<button type="submit" [disabled]="myForm.invalid"
				class="rem-row btn-floating waves-effect
				waves-light green right">
				<i class="material-icons">done</i>
				</button>
			</div>
		</form>
	</div>
</div>